# pandas profiling

In [1]:
import pandas as pd 
from ydata_profiling import ProfileReport

In [2]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
report = ProfileReport(df, title= "Data Report")

In [7]:
report.to_file("report.html")

100%|██████████| 5/5 [00:00<00:00, 29.25it/s]00<00:00, 11.86it/s, Describe variable: species]
Summarize dataset: 100%|██████████| 30/30 [00:14<00:00,  2.12it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:10<00:00, 10.62s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.14s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 32.44it/s]